.footer__phone {
  color: #505050;
  font-size: 1.21rem;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  position: relative;
}

.footer__phone:hover::after {
  content: attr(data-phone);
  position: absolute;
  top: -50px;
  left: 0;
  background-color: #d0d0d0;
  border-radius: 5px;
  color: #000;
  font-size: .7rem;
  padding: 10px;
  line-height: 1.21;
  width: 150px;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .footer__phone {
    font-size: 1rem;
    order: -1;
    margin-bottom: 20px;
  }
  
  .footer__phone:hover::after {
    top: 25px;
    left: -10px;
  }
}