.main__title {
    margin: 0;
    color: #505050;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.21;
    max-width: 860px;
    margin-bottom: 60px;
    text-align: center;
    overflow: hidden;
    backdrop-filter: blur(1px);
  }

  @media screen and (max-width: 640px) {
    .main__title {
      font-size: 1.25rem;
      max-width: 300px;
      margin-bottom: 50px;
    }
  }