@keyframes activeLink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .8;
  }
  100% {
    opacity: 1;
  }
}

html {
  scroll-padding-top: 70px; 
}

main {
  scroll-snap-type: y mandatory;
}

.main__container {
  scroll-snap-type: y mandatory;
}

.page {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}

.link {
  text-decoration: none;
}


.link:hover {
  animation: activeLink 1s ease-in-out;
}






