.footer__copyright {  
  margin: 0;
  font-size: .8rem;
  font-weight: 400;
  line-height: 1;
  color: #505050;
}

@media screen and (max-width: 640px) {
  .footer__copyright {
    align-self: start;
    font-size: .6rem;
  }
}