.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;  
  position: relative;  
}

.main__container {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0000001f;
  width: 100%;
}

.main__container::before {
  content: '';
  position: absolute;
  top: 71px;
  left: 0;
  width: 100%;
  height: 100%;  
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; 
  background-image: url('../../images/01green.jpg');  
  opacity: 0.4;
  z-index: -1;
}

.main__container > * {
  position: relative;
  z-index: 1; 
}

.main__lead {
  padding-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 1280px;
  overflow-x: hidden;
  box-sizing: border-box;
}

.main__title {
  margin: 0;
  color: #3A3938;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.21;
  max-width: 860px;
  margin-bottom: 60px;
  text-align: center;
  overflow: hidden;
}

.main__subtitle {
  margin: 0;
  color: #3A3938;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.21;
  max-width: 800px;
  text-align: center;
  margin-bottom: 100px;
  overflow: hidden;
}

.main__navbar {
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 50px;
  overflow: hidden;
}

.main__button {
  background-color: #2A2928be;
  border: 1px solid #2A292800;
  border-radius: 10px;
  width: 170px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
  cursor: pointer;
  transition: all .5s linear;
}

.main__button:hover {
  border: 1px solid #ffffffbe;
  opacity: .9;
  transform: scale(1.1);
}

.main__button_text {
  color: #ffffff;
  text-align: center;
  font-size: 1.1rem;
}

.main__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  width: 100%;
  overflow: hidden;
  margin-bottom: 40px;
  box-sizing: border-box;
  gap: 30px;
}

.main__card {
  width: 330px;
  height: 400px;
  background-color: #B4BA98;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 40px 25px;
  cursor: pointer;
  transition: all .5s linear;
  border: 1px solid #B4BA98;
  box-shadow: 0 1px 4px #00000050;  
  box-sizing: border-box;
}

.main__card:hover {
  transform: scale(1.05);
  border-color: #ffffffbe;
}

.main__card_icon {
  width: 50px;
  height: 50px;
  margin-bottom: 50px;
}

.main__card_title {
  margin: 0 0 50px;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.21;
}

.main__card_text {
  margin: 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.main__portfolio {
  background-color: #E7EADF;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 65px 0;
  border-top: 1px solid #00000021;
}

.main__portfolio_title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.21;
}

.main__portfolio_container {
  display: flex;
  gap: 50px;
}

.main__portfolio_photos {
  display: grid;
  grid-template-rows: repeat(2, minmax(min-content, max-content)) auto;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  gap: 10px;
}

.main__portfolio_photos-small {
  margin-top: 70px;
}

.main__portfolio-photo {
  width: 170px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  border: 1px solid #2A292831;
  cursor: pointer;
  transition: all .5s linear;
}

.main__portfolio-photo_big {
  grid-row: 1 / 3;
  height: 301px;
  width: 190px;
}

.main__portfolio-photo_small {
  height: 145px;
}

.main__portfolio-photo:hover {
  transform: scale(1.1);
}

.main__portfolio_text {
  margin: 0;
  font-size: .8rem;
  font-weight: 400;
  line-height: 1.21;
  text-transform: uppercase;
  text-align: center;
  justify-self: center;
  grid-column: 1 / -1;
}

.main__about {
  background-color: #B4BAB7;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 65px 0;
  border-top: 1px solid #00000021;
}

.main__about_photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #2A292831;
  margin-bottom: 40px;
}

.main__about_text {
  width: 60%;
  max-width: 560px;
  text-align: center;
  font-size: 1.21rem;
  font-weight: 400;
  line-height: 1.21;
}