.main__card_title {
  margin: 0 0 50px;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.21;
}

@media screen and (max-width: 1180px) {
  .main__card_title {
    font-size: 1.35rem;
  }
}

@media screen and (max-width: 1045px) {
  .main__card_title {
    font-size: 1.21rem;
  }
}

@media screen and (max-width: 960px) {
  .main__card_title {
    font-size: 1.5rem;   
  }
}

@media screen and (max-width: 640px) {
  .main__card_title {
    margin-bottom: 25px;
    font-size: 1rem;
  }  
}