.header__phone {
  font-size: .9rem;
  font-weight: 500;
  color: #505050;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
  transition: all .5s linear;
  position: relative;
}

.header__phone:hover::after {
  content: attr(data-phone);
  position: absolute;
  top: 25px;
  left: -20px;
  background-color: #d0d0d0;
  border-radius: 5px;
  color: #000;
  font-size: .7rem;
  padding: 10px;
  line-height: 1.21;
  width: 150px;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .header__phone {
    margin: 5px;
    font-size: .9rem;
    line-height: 2;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 350px) {
  .header__phone {
    font-size: .8rem;
  }
}