.main__portfolio_title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.21;
}

@media screen and (max-width: 1045px){
  .main__portfolio_title {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 640px) {
  .main__portfolio_title {
    font-size: 1rem;
  }
}