.main__card {
  width: 330px;
  height: 400px;
  background-color: #B4BA98;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 40px 25px;
  cursor: pointer;
  transition: all .5s linear;
  border: 1px solid #B4BA98;
  box-shadow: 0 1px 4px #00000050;  
  box-sizing: border-box;
}

.main__card:hover {
  transform: scale(1.05);
  border-color: #ffffffbe;
}

@media screen and (max-width: 1180px) {
  .main__card {
    width: 300px;
  }
}

@media screen and (max-width: 1045px) {
  .main__card {
    width: 280px;
  }
}

@media screen and (max-width: 960px) {
  .main__card {
    width: 94vw;
    max-width: 600px;
    height: 350px;
    padding: 40px;
  }
}

@media screen and (max-width: 640px) {
  .main__card {
    width: 94vw;
    max-width: 450px;
    height: 220px;
    padding: 20px 25px;
  }

  .main__card:hover {
/*    transform: scale(1.02);*/
    transform: none;
    border-color: #B4BA98;
  }  
}