.header__container {
  max-width: 1280px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .5s linear;
}

.header__container_left {
  min-width: calc(100% - 180px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .5s linear;
}

.header__container_right {
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all .5s linear;
  position: relative;
}

@media screen and (max-width: 640px) {
  .header__container_left {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .header__container_right {
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 160px;
    margin-top: 5px;
  }  
}

