.main__button {
  background-color: #505050e0;
  border: 1px solid #2A292800;
  border-radius: 10px;
  width: 170px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .5s linear;
  box-sizing: border-box;
}
  
.main__button:hover {
  border-color: #ffffffbe;
  opacity: .9;
  transform: scale(1.1);
}


@media screen and (max-width: 960px) {
  .main__button {
    width: 136px;
  }
}

@media screen and (max-width: 640px) {
  .main__button {
    width: 95px;
  }

  .main__button:hover {
    border-color: #2A292800;
    opacity: 1;
    transform: none;
  }
}